/* -----------> //CSS RESET <----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -----------> //NAVBAR <----------- */

.logo {
    cursor: pointer;
    height: 60px;
    width: 100px;
    filter: invert(100%);
    margin-left: 100px;
}

.logo:hover {
    filter: invert(51%) sepia(89%) saturate(1985%) hue-rotate(149deg) brightness(100%) contrast(101%);
    transition: 0.2s;
}

nav {
    position: fixed;
    font-family: 'Fjalla One', sans-serif;
    align-items: center;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25), transparent);
    z-index: 1;
}

li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.5px;
}

li a:hover {
    color: #00bcd4;
    transition: 0.3s;
}

ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sign-up {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
    margin-right: 100px;
    background-color: transparent;
    border: 1px solid #00bcd4;
    border-radius: 25px;
    padding: 5px; 
}

.sign-up:hover {
    background-color: #00bcd4;
    transition: 0.3s;
}

.checkbtn {
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: flex-end;
    display: none;
    align-items: center;
}

#check {
    display: none;
}

/* -----------> //MAIN SECTION <----------- */
.main-div {
    background: url('./assets/ps5-hero.jpg') center center/cover no-repeat;
    height: 95vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
}

.primary-btn {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: none;
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    border-radius: 5px;
    padding: 10px 25px 10px;
}

.primary-btn:hover {
    border: 1px solid #00bcd4;
    background-color: transparent;
    transition: 0.4s;
}

/* -----------> //INPUT-FORM <------------ */

.input-container {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 350px;
    display: grid;
    color: #fff;
}

.input-table {
    margin: 15px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label, .input {
    padding: 10px;
    border: 1px solid white;
}

.input {
    font-weight: bolder;
}

.color {
    text-transform: capitalize;
}

.message {
    justify-content: center;
}

/* -----------> //FOOTER <----------- */

#footer {
    height: 6vh;
    width: 100%;
    background-color: #0e0e1b;
}

#footer-text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    padding: 12px 0;
}


/* -----------> //RESPONSIVENESS <----------- */

@media (max-width: 914px){
    nav {
        grid-template-columns: 25% 50% 25%;
        justify-content: center;
    }

    .logo {
        margin-left: 50px;
    }

    .sign-up {
        margin-right: 30px;
    }

    .input-container {
        padding: 175px 100px;
    }

}

@media (max-width: 550px){
    li a {
        font-size: 10px;
    }

    .sign-up {
        font-size: 10px;
    }

    .logo {
        margin-top: 5px;
        height: 45px;
        width: 80px;
        margin-left: 20px;
    }

    .sign-up {
        margin-right: 20px;
    }

    .input-container {
        font-size: 10px;
        padding: 130px 30px;
    }

    #footer-text{
        font-size: 10px;
    }

}